<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90078398824-7civoormar648ivl787krdmpq7mv9aoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90078398824-7civoormar648ivl787krdmpq7mv9aoe</string>
	<key>API_KEY</key>
	<string>AIzaSyCFWSyKad87Rb8ZPy3jxgldFgI0h2getbU</string>
	<key>GCM_SENDER_ID</key>
	<string>90078398824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bytebankdatabase</string>
	<key>PROJECT_ID</key>
	<string>bytebank-alura-83920</string>
	<key>STORAGE_BUCKET</key>
	<string>bytebank-alura-83920.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:90078398824:ios:2aa78ddf4e45e4db5aeedd</string>
</dict>
</plist>
